<!DOCTYPE html>
<html>
	<head lang="en">
		<title>
			Events Manager
		</title>
		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navmargin">
		  <!-- Navbar content -->
		  <header>
		  	<h1 class="purple float-left headerHP">Book Events
		  	</h1>
		  </header>
		  <span class="white text-center de-font userHP">Welcome User
		  </span>

		  	<button type="button" class="btn btn-primary float-right signOutHP">
			  <span>
			  	<h4>
			  		<a class="white" href="index.html">Sign out</a>
			  	</h4>
			  </span>
			</button>
		</nav>
		<p class="parPad">
			<h3>
				Is your conference just around the corner?, click <a href="">here</a> to book one of these halls now
			</h3>
		</p>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-7">
					<div id="imageCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
								<div class="item active">
									<img class="d-block w-100" src="../picFolder/center1.jpg" alt="Grace hall" />
									<div class="carousel-caption">
										<span class="">
											<h3>Grace hall</h3>
										<p>
											<h3>3000 sits</h3><a href=""></a>
										</p>
										</span>
									</div>
								</div>
							<div class="item">
								<img class="d-block w-100" src="../picFolder/center2.jpg" class="img-fluid" />
								<div class="carousel-caption">
									<h3>Ballerina</h3>
									<p>
										<h3>1500 sits</h3>
									</p>
								</div>
							</div>
							<div class="item">
								<img class="d-block w-100" src="../picFolder/center3.jpg" class="img-fluid" />
								<div class="carousel-caption">
									<h3>Friend's garden</h3>
									<p>
										<h3>2000 sits</h3>
									</p>
								</div>
							</div>
							<div class="item">
								<img class="d-block w-100" src="../picFolder/center5.jpg" class="img-fluid" />
								<div class="carousel-caption">
									<h3>Partyland</h3>
									<p>
										<h3>2000 sits</h3>
									</p>
								</div>
							</div>
							<div class="item">
								<img class="d-block w-100" src="../picFolder/center6.jpg" class="img-fluid" />
								<div class="carousel-caption">
									<h3>Silverhouse</h3>
									<p>
										<h3>3000 sits</h3>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../css/bootstrap.js"></script>
	</body>
</html>